{{- with secret "database/creds/ir-platform" }}
export POSTGRES_USER={{ .Data.username }}
export POSTGRES_PASSWORD={{ .Data.password }}
{{- end }}
{{- with secret "ir/data/config" }}
export DJANGO_SECRET_KEY={{ .Data.data.django_secret_key }}
export IR_AUDIT_HMAC_KEY={{ .Data.data.audit_hmac_key }}
export IR_CUSTODY_HMAC_KEY={{ .Data.data.custody_hmac_key }}
export S3_ACCESS_KEY={{ .Data.data.minio_access }}
export S3_SECRET_KEY={{ .Data.data.minio_secret }}
{{- end }}
